<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.darly.dview">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".widget.camera.CameraActivity" android:screenOrientation="portrait"/>
        <activity android:name=".widget.camera.PhotoSelectActivity" android:screenOrientation="portrait"/>

    </application>

</manifest>
